$primary: #dcb5ff;
$primarylight: #f1e2fed1;
$secondary: #d9f2ff;
$success: #7854e4;
$info: #a5bdfd;

.SignUpContainer {
    height: 100vh;
    color: white;
}

.SignUpSideContainer {
    background-color: $success;
    height: 100vh;
    position: relative;
    font-weight: bold;
}

.FormularioRegistroContainer {
    margin-top: 120px;
    text-align: center;
    position: absolute;
}

.FormularioRegistroContainer>.col {
    margin-top: 100px; //not in phone view
}

.LogoContainer {
    position: relative;
}

.LogoUTutorRegistroXl {
    width: 400px;
}

.LogoUTutorRegistroSm {
    width: 200px;
}

///VERTICAL CENTERING
.v-h-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.h-center {
    margin: 0 auto;
}

.FormularioRegistroContainer .row,
.FormularioRegistro>.col {
    margin: 10px 0;
}

.FormularioRegistro .col-lg-6>.col~.col {
    margin: 2px 0;
}

.FormularioRegistro input {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    border: 1px solid #DDDDDD;
}

.FormularioRegistro input:focus {
    box-shadow: 0 0 1px rgba(81, 203, 238, 0.5);
    border: 1px solid rgba(81, 203, 238, 0.5);
}

.FormularioRegistro input {
    margin: 2px 0;
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    border: none;
    font-size: 16px !important;
}

.FormularioRegistro input::placeholder {
    font-size: 18px;
}

.FormularioRegistro input:focus {
    outline: none;
    box-shadow: 0px 5px 10px 0px rgba(0, 50, 255, 0.5);
}

.LinkIniciarSesion a {
    text-decoration: underline;
    color: $primarylight;
}

.LinkIniciarSesion p,  .LinkIniciarSesion p a{
    font-size: 18px;
}

.termyCond p {
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.red {
    color: orange;
}